<div class="container">
  <h1>Registro de Usuarios</h1>

  <form action="">
    <input type="text" name="usuario" id="" [(ngModel)]="nombre" placeholder="Usuario"><br>
    <input type="text" name="apellido" id="" [(ngModel)]="apellido" placeholder="Apellido"><br>
    <input type="text" name="apellido" id="" [(ngModel)]="cargo" placeholder="Cargo"><br>
    <input type="submit" value="Registrar" (click)="registrarUsuario()">

  </form>
  <!-- VIDEO-18 -->
  <!-- ngStyle -->
  <p *ngIf="registrado; else sinRegistrar">{{mensaje}}. <br> Bienvenido {{nombre}} {{apellido}} con el cargo de <span [ngStyle]="{color: cargo == 'Tester' ? 'red' : 'blue'}">{{cargo}}</span></p>

  <!-- ngClass -->
  <p *ngIf="registrado; else sinRegistrar">{{mensaje}}. <br> Bienvenido {{nombre}} {{apellido}} con el cargo de <span [ngClass]="{ngclass:cargo == 'Tester'}">{{cargo}}</span></p>


  <ng-template #sinRegistrar >
    <p>Nadie registrado</p>
  </ng-template>
  <br>
  <ul>
    <li *ngFor="let entrada of entradas; let i=index">{{entrada.titulo}} <b>.Titulo {{i}}</b></li>
</ul>
</div>
<app-video16-directivas3></app-video16-directivas3>
<!-- <p *ngFor="let test of entradas">{{test.titulo}}</p> -->